@import "./../../style/scss/index.scss";

.container {
  @include flexboxMixin($justify: center, $align: center);
  min-height: calc(100vh - 3.5vw);

  background-image: url(./../../resources/img/background-home.png);
  background-repeat: no-repeat;
  background-size: 1936px 1291px;

  .mainContent {
    display: inline-block;
    margin-bottom: 7vw;

    h1 {
      font-size: 60px;
      text-align: center;

      .nameHighlight {
        color: $PRIMARY_YELLOW;
      }
    }

    p {
      font-size: 36px;
      text-align: center;
    }

    h1,
    p {
      color: $PRIMARY_WHITE;
    }
  }
}
