@import "./../../style/scss/index.scss";

.container {
  .pageTitle {
    margin: 3vw 0;
    h1 {
      color: $PRIMARY_WHITE;
      text-align: center;
      font-size: 1.85vw;
    }
  }
}

@media #{$BREAKPOINT-TABLET-LAND} {
  .container {
    .pageTitle {
      h1 {
        font-size: 2vw;
      }
    }
  }
}

@media #{$BREAKPOINT-TABLET} {
  .container {
    .pageTitle {
      h1 {
        font-size: 3vw;
      }
    }
  }
}

@media #{$BREAKPOINT-MOBILE-LAND} {
  .container {
    .pageTitle {
      h1 {
        font-size: 3.2vw;
      }
    }
  }
}

@media #{$BREAKPOINT-MOBILE} {
  .container {
    .pageTitle {
      h1 {
        font-size: 3.5vw;
      }
    }
  }
}
