// MAIN COLORS PALLETE
$PRIMARY_WHITE: #ebeae8;
$PRIMARY_BLACK: #262626;
$PRIMARY_YELLOW: #e99d2c;
$PRIMARY_DARK_BLUE: #1d1f31;

// BREAKPOINTS
$BREAKPOINT-DESK: "only screen and (max-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (max-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (max-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (max-width: 480px)";
$BREAKPOINT-MOBILE: "only screen and (max-width: 360px)";
